In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

# Mid Boocamp project
# The story of modern Football(2014-2019) 

For this project I will be diving into the world of Football. I will be looking at Europe's top 5 leagues for the years 2014-19.

My **aim** for this project is to find out:

- the most attacking/defensive teams in recent years (2014 - 2019)
- The best overall team of the past years (2014-2019)
- Exploring trends in the leagues (characteristics of leagues)
- BONUS QUESTION (if time constraints permits): Use modelling to predict the outcome of a game 

The data I have was obtained from Kaggle from the following link:
https://www.kaggle.com/slehkyi/extended-football-stats-for-european-leagues-xg

### Here are some of the terms of the datasets explained:

**xG** - expected goals metric, it is a statistical measure of the quality of chances created and conceded. More at understat.com

**xG_diff** - difference between actual goals scored and expected goals.

**npxG** - expected goals without penalties and own goals.

**xGA** - expected goals against.

**xGA_diff** - difference between actual goals missed and expected goals against.

**npxGA** - expected goals against without penalties and own goals.

**npxGD** - difference between "for" and "against" expected goals without penalties and own goals.

**ppda_coef** - passes allowed per defensive action in the opposition half (power of pressure)

**oppda_coef** - opponent passes allowed per defensive action in the opposition half (power of opponent's pressure)

**deep** - passes completed within an estimated 20 yards of goal (crosses excluded)

**deep_allowed** - opponent passes completed within an estimated 20 yards of goal (crosses excluded)

**xpts** - expected points

**xpts_diff** - difference between actual and expected points

**1.** Lets begin with exploring the 2 datasets

In [2]:
understat_com = pd.read_csv('understat.com.csv')

In [3]:
# This datframe has the shape of 684 rows and 24 columns
pd.set_option('max_columns', None)
display(understat_com.head(7))
print(understat_com.shape)

,Unnamed: 0,Unnamed: 1,position,team,matches,wins,draws,loses,scored,missed,pts,xG,xG_diff,npxG,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,94,102.980152,-7.019848,97.777212,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,92,95.766243,-22.233757,86.103895,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,78,57.047670,-9.952330,52.588008,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,77,55.062500,-14.937500,49.703978,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,76,69.526624,-1.473376,62.094599,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133
5,La_liga,2014,6,Villarreal,38,16,12,10,48,37,60,56.767999,8.767999,55.281438,40.701813,3.701813,38.471977,16.809461,10.072085,8.679660,242,171,62.7363,2.7363
6,La_liga,2014,7,Athletic Club,38,15,10,13,42,41,55,45.542151,3.542151,41.826151,44.106707,3.106707,41.737161,0.088990,7.462406,9.403965,183,171,53.3585,-1.6415

(684, 24)

In [4]:
understat_per_game = pd.read_csv('understat_per_game.csv')

In [5]:
# This datframe has the shape of 24580 rows and 29 columns
display(understat_per_game.head(6))
print(understat_per_game.shape)

,league,year,h_a,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,result,date,wins,draws,loses,pts,npxGD,ppda_coef,ppda_att,ppda_def,oppda_coef,oppda_att,oppda_def,team,xG_diff,xGA_diff,xpts_diff
0,Bundesliga,2014,h,2.57012,1.198420,2.57012,1.198420,5,4,2,1,2.3486,w,2014-08-22 19:30:00,1,0,0,3,1.371700,9.625000,231,24,21.850000,437,20,Bayern Munich,0.57012,0.198420,-0.6514
1,Bundesliga,2014,a,1.50328,1.307950,1.50328,1.307950,10,1,1,1,1.5143,d,2014-08-30 17:30:00,0,1,0,1,0.195330,4.756098,195,41,17.695652,407,23,Bayern Munich,0.50328,0.307950,0.5143
2,Bundesliga,2014,h,1.22987,0.310166,1.22987,0.310166,13,3,2,0,2.1588,w,2014-09-13 14:30:00,1,0,0,3,0.919704,5.060606,167,33,16.961538,441,26,Bayern Munich,-0.77013,0.310166,-0.8412
3,Bundesliga,2014,a,1.03519,0.203118,1.03519,0.203118,6,2,0,0,2.1367,d,2014-09-20 14:30:00,0,1,0,1,0.832072,4.423077,115,26,9.446809,444,47,Bayern Munich,1.03519,0.203118,1.1367
4,Bundesliga,2014,h,3.48286,0.402844,3.48286,0.402844,23,2,4,0,2.9287,w,2014-09-23 19:00:00,1,0,0,3,3.080016,4.250000,170,40,44.800000,448,10,Bayern Munich,-0.51714,0.402844,-0.0713
5,Bundesliga,2014,a,3.46966,0.821798,3.46966,0.821798,27,0,2,0,2.8138,w,2014-09-27 14:30:00,1,0,0,3,2.647862,5.440000,136,25,44.090909,485,11,Bayern Munich,1.46966,0.821798,-0.1862

(24580, 29)

In [37]:
understat_per_game['result'].value_counts()

w    8144
l    8144
d    5412
Name: result, dtype: int64

In [6]:
display(understat_com.info())
display(understat_per_game.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684 entries, 0 to 683
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    684 non-null    object
 1   Unnamed: 1    684 non-null    int64
 2   position      684 non-null    int64
 3   team          684 non-null    object
 4   matches       684 non-null    int64
 5   wins          684 non-null    int64
 6   draws         684 non-null    int64
 7   loses         684 non-null    int64
 8   scored        684 non-null    int64
 9   missed        684 non-null    int64
 10  pts           684 non-null    int64
 11  xG            684 non-null    float64
 12  xG_diff       684 non-null    float64
 13  npxG          684 non-null    float64
 14  xGA           684 non-null    float64
 15  xGA_diff      684 non-null    float64
 16  npxGA         684 non-null    float64
 17  npxGD         684 non-null    float64
 18  ppda_coef     684 non-null    float64
 19  oppda_coef    684 non-null    float64
 20  deep          684 non-null    int64
 21  deep_allowed  684 non-null    int64
 22  xpts          684 non-null    float64
 23  xpts_diff     684 non-null    float64
dtypes: float64(11), int64(11), object(2)
memory usage: 128.4+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24580 entries, 0 to 24579
Data columns (total 29 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   league        24580 non-null  object
 1   year          24580 non-null  int64
 2   h_a           24580 non-null  object
 3   xG            24580 non-null  float64
 4   xGA           24580 non-null  float64
 5   npxG          24580 non-null  float64
 6   npxGA         24580 non-null  float64
 7   deep          24580 non-null  int64
 8   deep_allowed  24580 non-null  int64
 9   scored        24580 non-null  int64
 10  missed        24580 non-null  int64
 11  xpts          24580 non-null  float64
 12  result        24580 non-null  object
 13  date          24580 non-null  object
 14  wins          24580 non-null  int64
 15  draws         24580 non-null  int64
 16  loses         24580 non-null  int64
 17  pts           24580 non-null  int64
 18  npxGD         24580 non-null  float64
 19  ppda_coef     24580 non-null  float64
 20  ppda_att      24580 non-null  int64
 21  ppda_def      24580 non-null  int64
 22  oppda_coef    24580 non-null  float64
 23  oppda_att     24580 non-null  int64
 24  oppda_def     24580 non-null  int64
 25  team          24580 non-null  object
 26  xG_diff       24580 non-null  float64
 27  xGA_diff      24580 non-null  float64
 28  xpts_diff     24580 non-null  float64
dtypes: float64(11), int64(13), object(5)
memory usage: 5.4+ MB

None

In [7]:
understat_com.describe()

,Unnamed: 1,position,matches,wins,draws,loses,scored,missed,pts,xG,xG_diff,npxG,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
count,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000,6.840000e+02,684.000000,684.000000,684.000000,684.000000,684.000000,684.000000
mean,2016.500000,10.061404,35.935673,13.434211,9.067251,13.434211,48.190058,48.190058,49.369883,47.064744,-1.125315,42.902596,47.064744,-1.125315,42.902596,2.792600e-16,10.911784,10.911772,208.676901,208.676901,49.539598,0.169715
std,1.709075,5.580165,3.203487,5.880962,2.941824,5.510278,17.605374,13.866509,16.957678,14.595888,6.848179,13.695898,11.781399,6.663632,11.002013,1.929269e+01,2.521398,3.301410,83.888073,54.713624,13.559213,7.156998
min,2014.000000,1.000000,27.000000,2.000000,2.000000,1.000000,13.000000,15.000000,13.000000,15.064491,-30.963020,13.166872,16.838674,-29.175087,16.084399,-4.220877e+01,5.683535,4.394458,76.000000,83.000000,17.907700,-24.721600
25%,2015.000000,5.000000,34.000000,9.000000,7.000000,9.000000,36.000000,38.000000,38.000000,37.126256,-4.985319,33.811014,38.916186,-5.698828,35.474606,-1.325816e+01,9.090617,8.809866,151.750000,170.000000,39.466550,-4.498400
50%,2016.500000,10.000000,38.000000,12.000000,9.000000,14.000000,45.000000,48.000000,46.000000,44.706130,-0.608827,40.071031,47.310924,-0.918895,43.031911,-3.127901e+00,10.562543,10.347047,188.000000,205.000000,47.102100,0.116050
75%,2018.000000,15.000000,38.000000,16.000000,11.000000,17.000000,56.000000,58.000000,59.250000,53.864159,3.587158,49.220690,54.834899,3.381834,50.263465,9.740049e+00,12.434874,12.187434,242.000000,246.250000,56.942025,4.912775
max,2019.000000,20.000000,38.000000,32.000000,18.000000,29.000000,118.000000,94.000000,100.000000,113.598270,18.148854,99.477020,88.432186,16.370737,78.535447,7.304931e+01,21.896752,30.468113,582.000000,375.000000,94.380000,23.047500

In [8]:
understat_per_game.describe()

,year,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,wins,draws,loses,pts,npxGD,ppda_coef,ppda_att,ppda_def,oppda_coef,oppda_att,oppda_def,xG_diff,xGA_diff,xpts_diff
count,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,2.458000e+04,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000,24580.000000
mean,2016.478438,1.309694,1.309694,1.193872,1.193872,5.806957,5.806957,1.341009,1.341009,1.378563,0.373841,0.252319,0.373841,1.373841,9.977554e-18,10.904386,239.612327,24.349593,10.904386,239.612327,24.349593,-0.031315,-0.031315,0.004723
std,1.699285,0.841109,0.841109,0.774719,0.774719,4.048151,4.048151,1.244176,1.244176,0.823751,0.483832,0.434352,0.483832,1.315111,1.205702e+00,6.163586,83.998463,7.172098,6.163586,83.998463,7.172098,0.951362,0.951362,1.051608
min,2014.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.007965e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-5.943560,-5.943560,-2.965500
25%,2015.000000,0.681165,0.681165,0.621734,0.621734,3.000000,3.000000,0.000000,0.000000,0.673950,0.000000,0.000000,0.000000,0.000000,-7.306208e-01,6.962963,179.000000,19.000000,6.962963,179.000000,19.000000,-0.593431,-0.593431,-0.679800
50%,2016.000000,1.150595,1.150595,1.040425,1.040425,5.000000,5.000000,1.000000,1.000000,1.328900,0.000000,0.000000,0.000000,1.000000,0.000000e+00,9.500000,231.000000,24.000000,9.500000,231.000000,24.000000,0.092995,0.092995,0.093950
75%,2018.000000,1.769455,1.769455,1.597640,1.597640,8.000000,8.000000,2.000000,2.000000,2.051025,1.000000,1.000000,1.000000,3.000000,7.306208e-01,13.095622,290.000000,29.000000,13.095622,290.000000,29.000000,0.588477,0.588477,0.739575
max,2019.000000,6.630490,6.630490,6.610910,6.610910,42.000000,42.000000,10.000000,10.000000,3.000000,1.000000,1.000000,1.000000,3.000000,6.007965e+00,152.000000,764.000000,65.000000,152.000000,764.000000,65.000000,5.063130,5.063130,2.940900

In [9]:
#curious to know how many leagues and teams we may have
#6 leagues and 168 teams

display(understat_per_game['league'].value_counts())
display(understat_com['Unnamed: 0'].value_counts())
print("The number of teams in this dataset is:", understat_per_game['team'].nunique())

EPL           4560
La_liga       4560
Serie_A       4550
Ligue_1       4358
Bundesliga    3672
RFPL          2880
Name: league, dtype: int64

La_liga       120
EPL           120
Serie_A       120
Ligue_1       120
Bundesliga    108
RFPL           96
Name: Unnamed: 0, dtype: int64

The number of teams in this dataset is: 168

**2.** Lets start to clean the data

In [10]:
#From the looking at the label names I noticed that understat_com has the first two columns with weird names
# Unnamed: 0, Unnamed: 1, these are the ones I will change the name to league and year.
#And also the column missed is a bit misleading. So I renamed it as against i.e. goals against

understat_com = understat_com.rename({'Unnamed: 0': 'league', 'Unnamed: 1': 'year', 'missed':'against'}, axis=1)

In [11]:
understat_com.head()

,league,year,position,team,matches,wins,draws,loses,scored,against,pts,xG,xG_diff,npxG,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,94,102.980152,-7.019848,97.777212,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,92,95.766243,-22.233757,86.103895,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,78,57.047670,-9.952330,52.588008,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,77,55.062500,-14.937500,49.703978,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,76,69.526624,-1.473376,62.094599,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133

In [12]:
#Based on what I saw from the value_counts above in the data exploration, the number of rows belonging to RFPL 
#is significantly low in number, therefore I will exclude it from both data sets
understat_com = understat_com[understat_com.league != 'RFPL']
understat_per_game = understat_per_game[understat_per_game.league != 'RFPL']

In [13]:
display(understat_com['league'].value_counts())
display(understat_per_game['league'].value_counts())

La_liga       120
EPL           120
Serie_A       120
Ligue_1       120
Bundesliga    108
Name: league, dtype: int64

EPL           4560
La_liga       4560
Serie_A       4550
Ligue_1       4358
Bundesliga    3672
Name: league, dtype: int64

In [14]:
#Lets check for null values
#understat_com has no null values

understat_com.isna().sum()

league          0
year            0
position        0
team            0
matches         0
wins            0
draws           0
loses           0
scored          0
against         0
pts             0
xG              0
xG_diff         0
npxG            0
xGA             0
xGA_diff        0
npxGA           0
npxGD           0
ppda_coef       0
oppda_coef      0
deep            0
deep_allowed    0
xpts            0
xpts_diff       0
dtype: int64

In [15]:
#understat_per_game has no null values
understat_per_game.isna().sum()

league          0
year            0
h_a             0
xG              0
xGA             0
npxG            0
npxGA           0
deep            0
deep_allowed    0
scored          0
missed          0
xpts            0
result          0
date            0
wins            0
draws           0
loses           0
pts             0
npxGD           0
ppda_coef       0
ppda_att        0
ppda_def        0
oppda_coef      0
oppda_att       0
oppda_def       0
team            0
xG_diff         0
xGA_diff        0
xpts_diff       0
dtype: int64

In [16]:
# Lets check for Duplicates in both data frames 
#No duplicates in understat_com
len(understat_com)-len(understat_com.drop_duplicates())

0

In [17]:
#No duplicates in understat_per_game either
len(understat_per_game)-len(understat_per_game.drop_duplicates())

0

In [18]:
understat_com.head()

,league,year,position,team,matches,wins,draws,loses,scored,against,pts,xG,xG_diff,npxG,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,94,102.980152,-7.019848,97.777212,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,92,95.766243,-22.233757,86.103895,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,78,57.047670,-9.952330,52.588008,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,77,55.062500,-14.937500,49.703978,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,76,69.526624,-1.473376,62.094599,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133

In [20]:
#Lets add some extra columns to the data set
#I noticed that not all teams have played equal amount of matches, therefore I plan to make two extra columns
#One for xG per game, and another for actual goals scored/game
#Similarly for defensive attributes, against/game and xGA/game 

understat_com['goals/game'] = understat_com['scored']/understat_com['matches'] 
understat_com['against/game'] = understat_com['against']/understat_com['matches'] 
understat_com['xG/game'] = understat_com['xG']/understat_com['matches']
understat_com['xGA/game'] = understat_com['xGA']/understat_com['matches']

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [21]:
understat_com

,league,year,position,team,matches,wins,draws,loses,scored,against,pts,xG,xG_diff,npxG,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff,goals/game,against/game,xG/game,xGA/game
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,94,102.980152,-7.019848,97.777212,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813,2.894737,0.552632,2.710004,0.748534
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,92,95.766243,-22.233757,86.103895,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511,3.105263,1.000000,2.520164,1.121242
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,78,57.047670,-9.952330,52.588008,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647,1.763158,0.763158,1.501254,0.764977
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,77,55.062500,-14.937500,49.703978,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932,1.842105,0.842105,1.449013,1.036647
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,76,69.526624,-1.473376,62.094599,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133,1.868421,1.184211,1.829648,1.259546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,Ligue_1,2019,16,Dijon,28,7,9,12,27,37,30,27.378050,0.378050,26.617960,39.300382,2.300382,38.540489,-11.922529,14.308293,9.703021,111,176,31.1870,1.1870,0.964286,1.321429,0.977788,1.403585
584,Ligue_1,2019,17,Saint-Etienne,28,8,6,14,29,45,30,29.651493,0.651493,25.851027,37.725643,-7.274357,33.165148,-7.314121,10.718417,10.496213,93,133,32.6755,2.6755,1.035714,1.607143,1.058982,1.347344
585,Ligue_1,2019,18,Nimes,28,7,6,15,29,44,27,30.193755,1.193755,28.673556,40.473400,-3.526600,37.433020,-8.759464,12.457197,9.054791,109,159,32.6876,5.6876,1.035714,1.571429,1.078348,1.445479
586,Ligue_1,2019,19,Amiens,28,4,11,13,31,50,23,25.619869,-5.380131,21.693981,38.426209,-11.573791,37.666119,-15.972138,12.449507,9.917285,101,148,32.8361,9.8361,1.107143,1.785714,0.914995,1.372365
587,Ligue_1,2019,20,Toulouse,28,3,4,21,22,58,13,31.294048,9.294048,26.733495,48.275034,-9.724966,44.474562,-17.741067,14.032994,10.193535,115,178,28.0073,15.0073,0.785714,2.071429,1.117645,1.724108

In [170]:
#Here I define a function which can help in cleaning if needed
#Important that new datasets have consistency with the current datasets

def cleaning_football(com, per_game):
    '''
    This function will clean two datasets and return them. 
    First dataset is for compiled statistics, the second dataset is for per game stats. 
    So please pay attention to the order of datasets when using the function.
    Also this function does not deal with NaN values. For that you may have to check manually.
    The inital datasets had no NaNs and therefore cleanining NaNs not included
    Also if needed, you will have to export file manually
    '''
    com = com.rename({'Unnamed: 0': 'league', 'Unnamed: 1': 'year', 'missed':'against'}, axis=1)
    com = com[com.league != 'RFPL']
    per_game = per_game[per_game.league != 'RFPL']
    com['goals/game'] = com['scored']/understat_com['matches'] 
    com['against/game'] = com['against']/understat_com['matches']
    com.drop_duplicates(keep='first', inplace=True)
    per_game.drop_duplicates(keep='first', inplace=True)
    
    return com, per_game

In [23]:
#lets export understat_com as an updated csv file (not needed for understat_per_game as everything okay)

understat_com.to_csv('understat_com_updt.csv', index= False)
understat_per_game.to_csv('understat_per_game_updated.csv', index = False)

I'm pretty satisfied now with both datasets. I begin with EDA and then potentially modelling later on.

**3.** Lets now start further understanding our data and preparing for **EDA**
Whatever I do here will help with the **EDA** on **Tableau**.

In [44]:
#find out the most attacking teams
#First I import the updated csv file for understat_com
understat_com = pd.read_csv('understat_com_updt.csv')

#Gather the attacking data that is xG and goals scored
#lets aggregate the sum of XG through all seasons and then group by the Team to see who are the most attacking teams overall
#First step I groupby team, and aggregate the whole datafram by the xG mean of teams through all the season


attacking_stats = understat_com.groupby(['team']).agg({'matches':sum,'wins':sum,'scored':np.mean,'xG':np.mean, 'goals/game': np.mean, 'xG/game': np.mean})

#And here I pick out the top 10 most attacking teams by 4 different parameters,
#Using xG xG/game, actual goals scored and goals/game
display(attacking_stats.nlargest(5, 'xG'))
display(attacking_stats.nlargest(5, 'xG/game'))
display(attacking_stats.nlargest(5, 'scored'))
display(attacking_stats.nlargest(5, 'goals/game'))

,matches,wins,scored,xG,goals/game,xG/game
team,,,,,,
Barcelona,228,166,102.166667,92.650959,2.688596,2.438183
Manchester City,228,156,89.500000,84.870696,2.355263,2.233439
Real Madrid,228,156,93.500000,84.864360,2.460526,2.233273
Paris Saint Germain,217,161,92.666667,84.745115,2.572612,2.366686
Bayern Munich,204,155,88.166667,79.799526,2.593137,2.347045

,matches,wins,scored,xG,goals/game,xG/game
team,,,,,,
Barcelona,228,166,102.166667,92.650959,2.688596,2.438183
Paris Saint Germain,217,161,92.666667,84.745115,2.572612,2.366686
Bayern Munich,204,155,88.166667,79.799526,2.593137,2.347045
Manchester City,228,156,89.500000,84.870696,2.355263,2.233439
Real Madrid,228,156,93.500000,84.864360,2.460526,2.233273

,matches,wins,scored,xG,goals/game,xG/game
team,,,,,,
Barcelona,228,166,102.166667,92.650959,2.688596,2.438183
Real Madrid,228,156,93.500000,84.864360,2.460526,2.233273
Paris Saint Germain,217,161,92.666667,84.745115,2.572612,2.366686
Manchester City,228,156,89.500000,84.870696,2.355263,2.233439
Bayern Munich,204,155,88.166667,79.799526,2.593137,2.347045

,matches,wins,scored,xG,goals/game,xG/game
team,,,,,,
Barcelona,228,166,102.166667,92.650959,2.688596,2.438183
Bayern Munich,204,155,88.166667,79.799526,2.593137,2.347045
Paris Saint Germain,217,161,92.666667,84.745115,2.572612,2.366686
Real Madrid,228,156,93.500000,84.864360,2.460526,2.233273
Manchester City,228,156,89.500000,84.870696,2.355263,2.233439

In [46]:
understat_com['deep/game'] = understat_com[]

,league,year,position,team,matches,wins,draws,loses,scored,against,pts,xG,xG_diff,npxG,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff,goals/game,against/game,xG/game,xGA/game
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,94,102.980152,-7.019848,97.777212,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813,2.894737,0.552632,2.710004,0.748534
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,92,95.766243,-22.233757,86.103895,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511,3.105263,1.000000,2.520164,1.121242
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,78,57.047670,-9.952330,52.588008,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647,1.763158,0.763158,1.501254,0.764977
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,77,55.062500,-14.937500,49.703978,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932,1.842105,0.842105,1.449013,1.036647
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,76,69.526624,-1.473376,62.094599,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133,1.868421,1.184211,1.829648,1.259546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,Ligue_1,2019,16,Dijon,28,7,9,12,27,37,30,27.378050,0.378050,26.617960,39.300382,2.300382,38.540489,-11.922529,14.308293,9.703021,111,176,31.1870,1.1870,0.964286,1.321429,0.977788,1.403585
584,Ligue_1,2019,17,Saint-Etienne,28,8,6,14,29,45,30,29.651493,0.651493,25.851027,37.725643,-7.274357,33.165148,-7.314121,10.718417,10.496213,93,133,32.6755,2.6755,1.035714,1.607143,1.058982,1.347344
585,Ligue_1,2019,18,Nimes,28,7,6,15,29,44,27,30.193755,1.193755,28.673556,40.473400,-3.526600,37.433020,-8.759464,12.457197,9.054791,109,159,32.6876,5.6876,1.035714,1.571429,1.078348,1.445479
586,Ligue_1,2019,19,Amiens,28,4,11,13,31,50,23,25.619869,-5.380131,21.693981,38.426209,-11.573791,37.666119,-15.972138,12.449507,9.917285,101,148,32.8361,9.8361,1.107143,1.785714,0.914995,1.372365
587,Ligue_1,2019,20,Toulouse,28,3,4,21,22,58,13,31.294048,9.294048,26.733495,48.275034,-9.724966,44.474562,-17.741067,14.032994,10.193535,115,178,28.0073,15.0073,0.785714,2.071429,1.117645,1.724108

In [60]:
#Now lets gather the most defensive teams
#First lets make another df for defensive stats off all 

defensive_stats = understat_com.groupby(['team']).agg({'matches':sum,'wins':sum,'against':np.mean,'xGA':np.mean, 'against/game': np.mean, 'xGA/game': np.mean, 'deep_allowed':np.mean})

In [74]:
# These parameters (xGA, xGA/game, against, against/game and deep_allowed) are in regards to defensive attributes
print("xGA:")
display(defensive_stats.nsmallest(5, 'xGA')) #expected goals against
print("xGA/game:")
display(defensive_stats.nsmallest(5, 'xGA/game'))#expected goals against per game
print("against:")
display(defensive_stats.nsmallest(5, 'against')) #This refers to how many goals the team conceded in a season
print("against/game:")
display(defensive_stats.nsmallest(5, 'against/game'))# conceded per game
print('deep_allowed:')
display(defensive_stats.nsmallest(5, 'deep_allowed')) #how many passes opponenets were allowed in team's half

xGA:

,matches,wins,against,xGA,against/game,xGA/game,deep_allowed
team,,,,,,,
Bayern Munich,204,155,24.833333,27.382881,0.730392,0.805379,107.333333
Paris Saint Germain,217,161,28.333333,28.027989,0.788499,0.777667,113.666667
Juventus,228,168,28.000000,30.055285,0.736842,0.790929,139.666667
Manchester City,228,156,33.833333,32.469717,0.890351,0.854466,131.666667
Atletico Madrid,228,137,25.333333,32.772566,0.666667,0.862436,174.333333

xGA/game:

,matches,wins,against,xGA,against/game,xGA/game,deep_allowed
team,,,,,,,
Paris Saint Germain,217,161,28.333333,28.027989,0.788499,0.777667,113.666667
Juventus,228,168,28.000000,30.055285,0.736842,0.790929,139.666667
Bayern Munich,204,155,24.833333,27.382881,0.730392,0.805379,107.333333
Manchester City,228,156,33.833333,32.469717,0.890351,0.854466,131.666667
Atletico Madrid,228,137,25.333333,32.772566,0.666667,0.862436,174.333333

against:

,matches,wins,against,xGA,against/game,xGA/game,deep_allowed
team,,,,,,,
Bayern Munich,204,155,24.833333,27.382881,0.730392,0.805379,107.333333
Atletico Madrid,228,137,25.333333,32.772566,0.666667,0.862436,174.333333
Juventus,228,168,28.000000,30.055285,0.736842,0.790929,139.666667
Paris Saint Germain,217,161,28.333333,28.027989,0.788499,0.777667,113.666667
Barcelona,228,166,31.666667,36.360794,0.833333,0.956863,154.333333

against/game:

,matches,wins,against,xGA,against/game,xGA/game,deep_allowed
team,,,,,,,
Atletico Madrid,228,137,25.333333,32.772566,0.666667,0.862436,174.333333
Bayern Munich,204,155,24.833333,27.382881,0.730392,0.805379,107.333333
Juventus,228,168,28.000000,30.055285,0.736842,0.790929,139.666667
Paris Saint Germain,217,161,28.333333,28.027989,0.788499,0.777667,113.666667
Barcelona,228,166,31.666667,36.360794,0.833333,0.956863,154.333333

deep_allowed:

,matches,wins,against,xGA,against/game,xGA/game,deep_allowed
team,,,,,,,
Bayern Munich,204,155,24.833333,27.382881,0.730392,0.805379,107.333333
Paris Saint Germain,217,161,28.333333,28.027989,0.788499,0.777667,113.666667
Manchester City,228,156,33.833333,32.469717,0.890351,0.854466,131.666667
Lyon,218,117,40.166667,37.878376,1.099311,1.035533,134.166667
Juventus,228,168,28.000000,30.055285,0.736842,0.790929,139.666667

In [41]:
#defensive_stats[defensive_stats['xGA'].min()]
defensive_stats_league = understat_com.groupby(['league']).agg({'matches':sum,'wins':sum,'against':np.mean,'xGA':np.mean,'goals/game':np.mean, 'against/game': np.mean, 'xGA/game': np.mean})

In [42]:
defensive_stats_league

,matches,wins,against,xGA,goals/game,against/game,xGA/game
league,,,,,,,
Bundesliga,3672,1385,49.962963,48.699397,1.469499,1.469499,1.432335
EPL,4560,1734,51.575000,50.762647,1.357237,1.357237,1.335859
La_liga,4560,1707,50.991667,50.590325,1.341886,1.341886,1.331324
Ligue_1,4358,1613,46.750000,45.141445,1.286580,1.286018,1.242741
Serie_A,4550,1705,52.491667,51.026213,1.384128,1.385040,1.346415

,league,year,position,team,matches,wins,draws,loses,scored,against,pts,xG,xG_diff,npxG,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff,goals/game,against/game,xG/game,xGA/game
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,94,102.980152,-7.019848,97.777212,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813,2.894737,0.552632,2.710004,0.748534
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,92,95.766243,-22.233757,86.103895,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511,3.105263,1.000000,2.520164,1.121242
2,La_liga,2014,3,Atletico Madrid,38,23,9,6,67,29,78,57.047670,-9.952330,52.588008,29.069107,0.069107,26.839271,25.748737,8.982028,9.237091,197,123,73.1353,-4.8647,1.763158,0.763158,1.501254,0.764977
3,La_liga,2014,4,Valencia,38,22,11,5,70,32,77,55.062500,-14.937500,49.703978,39.392572,7.392572,33.446477,16.257501,8.709827,7.870225,203,172,63.7068,-13.2932,1.842105,0.842105,1.449013,1.036647
4,La_liga,2014,5,Sevilla,38,23,7,8,71,45,76,69.526624,-1.473376,62.094599,47.862742,2.862742,41.916529,20.178070,8.276148,9.477805,305,168,67.3867,-8.6133,1.868421,1.184211,1.829648,1.259546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,Ligue_1,2019,16,Dijon,28,7,9,12,27,37,30,27.378050,0.378050,26.617960,39.300382,2.300382,38.540489,-11.922529,14.308293,9.703021,111,176,31.1870,1.1870,0.964286,1.321429,0.977788,1.403585
584,Ligue_1,2019,17,Saint-Etienne,28,8,6,14,29,45,30,29.651493,0.651493,25.851027,37.725643,-7.274357,33.165148,-7.314121,10.718417,10.496213,93,133,32.6755,2.6755,1.035714,1.607143,1.058982,1.347344
585,Ligue_1,2019,18,Nimes,28,7,6,15,29,44,27,30.193755,1.193755,28.673556,40.473400,-3.526600,37.433020,-8.759464,12.457197,9.054791,109,159,32.6876,5.6876,1.035714,1.571429,1.078348,1.445479
586,Ligue_1,2019,19,Amiens,28,4,11,13,31,50,23,25.619869,-5.380131,21.693981,38.426209,-11.573791,37.666119,-15.972138,12.449507,9.917285,101,148,32.8361,9.8361,1.107143,1.785714,0.914995,1.372365
587,Ligue_1,2019,20,Toulouse,28,3,4,21,22,58,13,31.294048,9.294048,26.733495,48.275034,-9.724966,44.474562,-17.741067,14.032994,10.193535,115,178,28.0073,15.0073,0.785714,2.071429,1.117645,1.724108

In [79]:
#I also want to understand in recent years, what makes champions. Or what is the champion standard
#Here I filter the champions and runners up for every season (based on their position) and every league into a df, 
#then I will aggregate by the 
champions_runnerup = understat_com[(understat_com['position']==1) | (understat_com['position'] == 2)]
champions_runnerup.head(10)

,league,year,position,team,matches,wins,draws,loses,scored,against,pts,xG,xG_diff,npxG,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff,goals/game,against/game,xG/game,xGA/game
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,94,102.980152,-7.019848,97.777212,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813,2.894737,0.552632,2.710004,0.748534
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,92,95.766243,-22.233757,86.103895,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511,3.105263,1.000000,2.520164,1.121242
20,La_liga,2015,1,Barcelona,38,29,4,5,112,29,91,113.598270,1.598270,99.477020,34.029090,5.029090,33.285940,66.191080,6.012152,15.064390,570,163,94.3800,3.3800,2.947368,0.763158,2.989428,0.895502
21,La_liga,2015,2,Real Madrid,38,28,6,4,110,34,90,90.454148,-19.545852,83.764638,45.233782,11.233782,42.260671,41.503967,9.251967,14.571881,404,211,79.0927,-10.9073,2.894737,0.894737,2.380372,1.190363
40,La_liga,2016,1,Real Madrid,38,29,6,3,106,41,93,90.866410,-15.133590,84.920340,36.862559,-4.137441,33.889828,51.030512,9.742439,13.407533,333,173,86.1701,-6.8299,2.789474,1.078947,2.391221,0.970067
41,La_liga,2016,2,Barcelona,38,28,6,4,116,37,90,93.551594,-22.448406,86.862234,31.315663,-5.684337,31.315663,55.546571,6.702330,15.710111,552,144,87.9535,-2.0465,3.052632,0.973684,2.461884,0.824096
60,La_liga,2017,1,Barcelona,38,28,9,1,99,29,93,90.486752,-8.513248,86.770362,41.620820,12.620820,40.134388,46.635974,9.109883,13.939373,528,188,79.4375,-13.5625,2.605263,0.763158,2.381230,1.095285
61,La_liga,2017,2,Atletico Madrid,38,23,10,5,58,22,79,50.290480,-7.709520,46.574090,35.483820,13.483820,32.510846,14.063244,10.569971,9.873491,257,233,61.5989,-17.4011,1.526316,0.578947,1.323434,0.933785
80,La_liga,2018,1,Barcelona,38,26,9,3,90,36,87,83.279534,-6.720466,76.584704,44.930950,8.930950,43.444400,33.140304,9.015264,16.404885,417,171,73.9604,-13.0396,2.368421,0.947368,2.191567,1.182393
81,La_liga,2018,2,Atletico Madrid,38,22,10,6,55,29,76,51.872324,-3.127676,48.730936,41.434059,12.434059,37.717794,11.013142,11.066205,11.104778,252,190,59.4276,-16.5724,1.447368,0.763158,1.365061,1.090370

In [89]:
champions_runnerup['win_ratio'] = champions_runnerup['wins']/champions_runnerup['matches']

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
champions_runnerup

,league,year,position,team,matches,wins,draws,loses,scored,against,pts,xG,xG_diff,npxG,xGA,xGA_diff,npxGA,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,xpts_diff,goals/game,against/game,xG/game,xGA/game,win_ratio
0,La_liga,2014,1,Barcelona,38,30,4,4,110,21,94,102.980152,-7.019848,97.777212,28.444293,7.444293,24.727907,73.049305,5.683535,16.367593,489,114,94.0813,0.0813,2.894737,0.552632,2.710004,0.748534,0.789474
1,La_liga,2014,2,Real Madrid,38,30,2,6,118,38,92,95.766243,-22.233757,86.103895,42.607198,4.607198,38.890805,47.213090,10.209085,12.929510,351,153,81.7489,-10.2511,3.105263,1.000000,2.520164,1.121242,0.789474
20,La_liga,2015,1,Barcelona,38,29,4,5,112,29,91,113.598270,1.598270,99.477020,34.029090,5.029090,33.285940,66.191080,6.012152,15.064390,570,163,94.3800,3.3800,2.947368,0.763158,2.989428,0.895502,0.763158
21,La_liga,2015,2,Real Madrid,38,28,6,4,110,34,90,90.454148,-19.545852,83.764638,45.233782,11.233782,42.260671,41.503967,9.251967,14.571881,404,211,79.0927,-10.9073,2.894737,0.894737,2.380372,1.190363,0.736842
40,La_liga,2016,1,Real Madrid,38,29,6,3,106,41,93,90.866410,-15.133590,84.920340,36.862559,-4.137441,33.889828,51.030512,9.742439,13.407533,333,173,86.1701,-6.8299,2.789474,1.078947,2.391221,0.970067,0.763158
41,La_liga,2016,2,Barcelona,38,28,6,4,116,37,90,93.551594,-22.448406,86.862234,31.315663,-5.684337,31.315663,55.546571,6.702330,15.710111,552,144,87.9535,-2.0465,3.052632,0.973684,2.461884,0.824096,0.736842
60,La_liga,2017,1,Barcelona,38,28,9,1,99,29,93,90.486752,-8.513248,86.770362,41.620820,12.620820,40.134388,46.635974,9.109883,13.939373,528,188,79.4375,-13.5625,2.605263,0.763158,2.381230,1.095285,0.736842
61,La_liga,2017,2,Atletico Madrid,38,23,10,5,58,22,79,50.290480,-7.709520,46.574090,35.483820,13.483820,32.510846,14.063244,10.569971,9.873491,257,233,61.5989,-17.4011,1.526316,0.578947,1.323434,0.933785,0.605263
80,La_liga,2018,1,Barcelona,38,26,9,3,90,36,87,83.279534,-6.720466,76.584704,44.930950,8.930950,43.444400,33.140304,9.015264,16.404885,417,171,73.9604,-13.0396,2.368421,0.947368,2.191567,1.182393,0.684211
81,La_liga,2018,2,Atletico Madrid,38,22,10,6,55,29,76,51.872324,-3.127676,48.730936,41.434059,12.434059,37.717794,11.013142,11.066205,11.104778,252,190,59.4276,-16.5724,1.447368,0.763158,1.365061,1.090370,0.578947
100,La_liga,2019,1,Real Madrid,38,26,9,3,70,25,87,72.157218,2.157218,63.981449,33.146266,8.146266,31.659710,32.321739,9.262202,14.476897,334,127,77.6868,-9.3132,1.842105,0.657895,1.898874,0.872270,0.684211
101,La_liga,2019,2,Barcelona,38,25,7,6,86,38,82,72.009449,-13.990551,67.549781,37.823949,-0.176051,32.620992,34.928789,8.256988,17.961598,440,146,73.1381,-8.8619,2.263158,1.000000,1.894985,0.995367,0.657895
120,EPL,2014,1,Chelsea,38,26,9,3,73,32,87,68.643320,-4.356680,64.740402,31.524344,-0.475656,29.240835,35.499567,10.942027,13.419520,407,171,75.3172,-11.6828,1.921053,0.842105,1.806403,0.829588,0.684211
121,EPL,2014,2,Manchester City,38,24,7,7,83,38,79,75.815441,-7.184559,69.609091,40.499403,2.499403,37.454762,32.154329,7.982490,15.076979,575,144,73.0982,-5.9018,2.184211,1.000000,1.995143,1.065774,0.631579
140,EPL,2015,1,Leicester,38,23,12,3,68,36,81,68.416034,0.416034,58.520867,45.019954,9.019954,41.975274,16.545593,10.099471,8.602384,217,275,68.9442,-12.0558,1.789474,0.947368,1.800422,1.184736,0.605263
141,EPL,2015,2,Arsenal,38,20,11,7,65,36,71,73.530928,8.530928,72.008593,33.857479,-2.142521,33.096313,38.912280,8.785488,12.218744,467,192,77.0087,6.0087,1.710526,0.947368,1.935024,0.890986,0.526316
160,EPL,2016,1,Chelsea,38,30,3,5,85,33,93,61.796887,-23.203113,58.607913,28.618919,-4.381081,27.096581,31.511332,11.768276,11.874986,435,150,75.7370,-17.2630,2.236842,0.868421,1.626234,0.753129,0.789474
161,EPL,2016,2,Tottenham,38,26,8,4,86,26,86,70.065979,-15.934021,63.215449,33.781933,7.781933,32.259603,30.955846,7.804758,12.262618,300,182,75.3717,-10.6283,2.263158,0.684211,1.843842,0.888998,0.684211
180,EPL,2017,1,Manchester City,38,32,4,2,106,27,100,91.434145,-14.565855,85.123985,24.511918,-2.488082,22.989620,62.134365,6.707812,28.897068,541,96,91.0893,-8.9107,2.789474,0.710526,2.406162,0.645050,0.842105
181,EPL,2017,2,Manchester United,38,25,6,7,68,28,81,59.043412,-8.956588,56.631119,43.540152,15.540152,42.778982,13.852137,10.565643,14.153926,319,243,62.3307,-18.6693,1.789474,0.736842,1.553774,1.145793,0.657895
200,EPL,2018,1,Manchester City,38,32,2,4,95,23,98,93.720559,-1.279441,90.675880,25.732604,2.732604,22.687925,67.987955,8.526164,30.468113,582,135,90.6406,-7.3594,2.500000,0.605263,2.466331,0.677174,0.842105
201,EPL,2018,2,Liverpool,38,30,7,1,89,22,97,79.457540,-9.542460,74.129360,29.145105,7.145105,28.383936,45.745424,10.959871,22.161376,431,152,83.4541,-13.5459,2.342105,0.578947,2.090988,0.766976,0.789474
220,EPL,2019,1,Liverpool,38,32,3,3,85,33,99,75.193370,-9.806630,71.387520,39.572898,6.572898,38.811728,32.575792,8.607605,24.738212,429,145,74.2784,-24.7216,2.236842,0.868421,1.978773,1.041392,0.842105
221,EPL,2019,2,Manchester City,38,26,3,9,102,35,81,102.205233,0.205233,93.533026,36.997629,1.997629,34.714123,58.818903,9.314521,25.488707,547,135,86.7564,5.7564,2.684211,0.921053,2.689611,0.973622,0.684211
240,Bundesliga,2014,1,Bayern Munich,34,25,4,5,80,18,79,66.205745,-13.794255,61.659256,21.938729,3.938729,20.423172,41.236085,5.761476,25.022717,388,83,73.6116,-5.3884,2.352941,0.529412,1.947228,0.645257,0.735294
241,Bundesliga,2014,2,Wolfsburg,34,20,9,5,72,38,69,58.347731,-13.652269,55.316626,38.822021,0.822021,36.419255,18.897371,9.136319,10.289876,172,164,59.9509,-9.0491,2.117647,1.117647,1.716110,1.141824,0.588235
258,Bundesliga,2015,1,Bayern Munich,34,28,4,2,80,17,88,77.041497,-2.958503,70.221487,20.794377,3.794377,19.278818,50.942669,6.563205,23.119249,353,103,77.9685,-10.0315,2.352941,0.500000,2.265926,0.611599,0.823529
259,Bundesliga,2015,2,Borussia Dortmund,34,24,6,4,82,34,78,83.410238,1.410238,78.844438,29.177493,-4.822507,26.146554,52.697884,7.698882,18.386425,387,126,76.5776,-1.4224,2.411765,1.000000,2.453242,0.858162,0.705882
276,Bundesliga,2016,1,Bayern Munich,34,25,7,2,89,22,82,73.908589,-15.091411,70.119949,27.042341,5.042341,24.769011,45.350938,6.467688,21.219964,433,133,73.7622,-8.2378,2.617647,0.647059,2.173782,0.795363,0.735294
277,Bundesliga,2016,2,RasenBallsport Leipzig,34,20,7,7,66,39,67,55.091726,-10.908274,52.060616,40.063822,1.063822,36.274930,15.785686,7.325249,9.438419,251,171,59.5370,-7.4630,1.941176,1.147059,1.620345,1.178348,0.588235
294,Bundesliga,2017,1,Bayern Munich,34,27,3,4,92,28,84,76.548905,-15.451095,70.486685,30.637835,2.637835,27.321371,43.165314,8.482019,22.416087,375,117,73.5197,-10.4803,2.705882,0.823529,2.251438,0.901113,0.794118
295,Bundesliga,2017,2,Schalke 04,34,18,9,7,53,37,63,46.829516,-6.170484,39.251744,39.419349,2.419349,34.860438,4.391306,9.815008,9.419936,150,168,51.6947,-11.3053,1.558824,1.088235,1.377339,1.159393,0.529412
312,Bundesliga,2018,1,Bayern Munich,34,24,6,4,88,32,78,92.240857,4.240857,89.209907,27.412344,-4.587656,22.865761,66.344146,8.642573,30.236541,435,89,82.0030,4.0030,2.588235,0.941176,2.712966,0.806245,0.705882
313,Bundesliga,2018,2,Borussia Dortmund,34,23,7,4,81,44,76,64.994402,-16.005598,61.963292,42.875457,-1.124543,39.086641,22.876651,14.560878,15.574332,268,159,62.8540,-13.1460,2.382353,1.294118,1.911600,1.261043,0.676471
330,Bundesliga,2019,1,Bayern Munich,34,26,4,4,100,32,82,92.851562,-7.148438,88.304903,36.471658,4.471658,33.440558,54.864345,8.064508,21.020124,407,119,77.3257,-4.6743,2.941176,0.941176,2.730928,1.072696,0.764706
331,Bundesliga,2019,2,Borussia Dortmund,34,21,6,7,84,41,69,64.261664,-19.738336,62.746424,42.024714,1.024714,39.751707,22.994717,12.121839,18.710656,297,135,62.4827,-6.5173,2.470588,1.205882,1.890049,1.236021,0.617647
348,Serie_A,2014,1,Juventus,38,26,9,3,72,24,87,59.077044,-12.922956,52.225435,29.129634,5.129634,25.218658,27.006777,8.715008,13.017563,334,152,74.7890,-12.2110,1.894737,0.631579,1.554659,0.766569,0.684211
349,Serie_A,2014,2,Roma,38,19,13,6,54,31,70,50.853662,-3.146338,45.524584,36.787303,5.787303,32.980881,12.543703,7.874105,13.878387,266,175,62.1641,-7.8359,1.421053,0.815789,1.338254,0.968087,0.500000
368,Serie_A,2015,1,Juventus,38,29,4,5,75,20,91,62.989649,-12.010351,56.138005,22.998835,2.998835,19.920635,36.217370,8.919363,10.944932,270,101,78.7434,-12.2566,1.973684,0.526316,1.657622,0.605232,0.763158
369,Serie_A,2015,2,Napoli,38,25,7,6,80,32,82,69.526830,-10.473170,63.436440,26.685810,-5.314190,22.758768,40.677672,8.067018,16.603723,320,142,79.0669,-2.9331,2.105263,0.842105,1.829653,0.702258,0.657895
388,Serie_A,2016,1,Juventus,38,29,4,5,77,27,91,68.736204,-8.263796,66.452314,23.597126,-3.402874,22.835829,43.616485,9.497838,13.003989,302,117,82.8633,-8.1367,2.026316,0.710526,1.808847,0.620977,0.763158
389,Serie_A,2016,2,Roma,38,28,3,7,90,38,87,82.996525,-7.003475,72.338325,41.075720,3.075720,38.030642,34.307683,8.924835,13.625251,354,201,77.3906,-9.6094,2.368421,1.000000,2.184119,1.080940,0.736842
408,Serie_A,2017,1,Juventus,38,30,5,3,86,24,95,59.228735,-26.771265,53.138431,28.577357,4.577357,25.532166,27.606265,11.534032,15.573204,260,136,73.5058,-21.4942,2.263158,0.631579,1.558651,0.752036,0.789474
409,Serie_A,2017,2,Napoli,38,28,7,3,77,29,91,70.453625,-6.546375,64.178817,25.266163,-3.733837,23.743569,40.435248,9.888521,26.967792,358,100,82.2324,-8.7676,2.026316,0.763158,1.854043,0.664899,0.736842
428,Serie_A,2018,1,Juventus,38,28,6,4,70,30,90,64.527180,-5.472820,58.436831,35.032053,5.032053,31.986937,26.449894,10.160174,13.964741,290,158,70.9299,-19.0701,1.842105,0.789474,1.698084,0.921896,0.736842
429,Serie_A,2018,2,Napoli,38,24,7,7,74,36,79,68.237943,-5.762057,65.192793,36.502336,0.502336,33.457179,31.735613,10.724236,18.070187,344,181,74.4511,-4.5489,1.947368,0.947368,1.795735,0.960588,0.631579
448,Serie_A,2019,1,Juventus,38,26,5,7,76,43,83,73.774528,-2.225472,63.116505,40.996703,-2.003297,31.640492,31.476013,9.041600,15.611712,270,174,71.2394,-11.7606,2.000000,1.131579,1.941435,1.078861,0.684211
449,Serie_A,2019,2,Inter,38,24,10,4,81,36,82,73.953151,-7.046849,65.490966,39.357559,3.357559,36.312366,29.178600,9.199278,16.556413,327,192,75.3771,-6.6229,2.131579,0.947368,1.946136,1.035725,0.631579
468,Ligue_1,2014,1,Paris Saint Germain,38,24,11,3,83,36,83,78.419930,-4.580070,67.778602,28.240364,-7.759636,25.960072,41.818530,7.133794,16.841499,321,116,84.1042,1.1042,2.184211,0.947368,2.063682,0.743167,0.631579
469,Ligue_1,2014,2,Lyon,38,22,9,7,72,33,75,62.851829,-9.148171,53.634238,41.708588,8.708588,37.148094,16.486144,8.994296,11.970015,202,136,65.6192,-9.3808,1.894737,0.868421,1.653996,1.097594,0.578947
488,Ligue_1,2015,1,Paris Saint Germain,38,30,6,2,102,19,96,86.200951,-15.799049,79.955011,24.365492,5.365492,22.085205,57.869806,6.688799,20.325039,341,121,90.2748,-5.7252,2.684211,0.500000,2.268446,0.641197,0.789474
489,Ligue_1,2015,2,Lyon,38,19,8,11,67,43,65,63.008171,-3.991829,59.967801,38.008802,-4.991198,36.488622,23.479179,6.404365,14.374666,294,114,68.6877,3.6877,1.763158,1.131579,1.658110,1.000232,0.500000
508,Ligue_1,2016,1,Monaco,38,30,5,3,107,31,95,76.036980,-30.963020,67.675954,34.893628,3.893628,31.093205,36.582749,9.587803,12.331291,226,139,78.0559,-16.9441,2.815789,0.815789,2.000973,0.918253,0.789474
509,Ligue_1,2016,2,Paris Saint Germain,38,27,6,5,83,27,87,82.162399,-0.837601,74.561456,24.247968,-2.752032,21.967679,52.593777,8.026454,20.293991,329,95,87.2195,0.2195,2.184211,0.710526,2.162168,0.638104,0.710526
528,Ligue_1,2017,1,Paris Saint Germain,38,29,6,3,108,29,93,89.924296,-18.075704,83.083419,32.096711,3.096711,28.296219,54.787200,8.232707,17.294541,478,118,84.6069,-8.3931,2.842105,0.763158,2.366429,0.844650,0.763158
529,Ligue_1,2017,2,Monaco,38,24,8,6,85,45,80,62.411927,-22.588073,56.194999,45.271219,0.271219,41.470738,14.724261,8.291365,11.636969,214,170,65.1451,-14.8549,2.236842,1.184211,1.642419,1.191348,0.631579
548,Ligue_1,2018,1,Paris Saint Germain,38,29,4,5,105,35,91,95.344060,-9.655940,86.223077,36.782405,1.782405,32.077712,54.145365,7.785468,18.947672,459,132,86.0429,-4.9571,2.763158,0.921053,2.509054,0.967958,0.763158
549,Ligue_1,2018,2,Lille,38,22,9,7,68,33,75,60.006656,-7.993344,50.026531,39.847530,6.847530,32.246634,17.779897,11.975530,11.290127,196,162,67.0171,-7.9829,1.789474,0.868421,1.579123,1.048619,0.578947
568,Ligue_1,2019,1,Paris Saint Germain,27,22,2,3,75,24,68,76.419055,1.419055,70.338355,22.434996,-1.565004,22.434996,47.903359,7.460972,21.270465,324,100,65.6794,-2.3206,2.777778,0.888889,2.830335,0.830926,0.814815
569,Ligue_1,2019,2,Marseille,28,16,8,4,41,29,56,36.423225,-4.576775,31.862657,32.046407,3.046407,28.246008,3.616649,8.939990,12.212360,145,86,41.7319,-14.2681,1.464286,1.035714,1.300829,1.144515,0.571429

In [92]:
champions_runnerup.groupby(['position']).agg({'goals/game':np.mean,'against/game':np.mean, 'deep':np.mean, 'deep_allowed':np.mean,'ppda_coef':np.mean, 'oppda_coef':np.mean,'win_ratio':np.mean })

,goals/game,against/game,deep,deep_allowed,ppda_coef,oppda_coef,win_ratio
position,,,,,,,
1,2.418238,0.774831,384.933333,137.200000,8.473862,17.994076,0.751928
2,2.115941,0.934885,325.633333,160.066667,9.314583,15.093775,0.641700

In [106]:
find_best = champions_runnerup.groupby(['team']).agg({'goals/game':np.mean,'against/game':np.mean, 'deep':np.mean, 'deep_allowed':np.mean,'ppda_coef':np.mean, 'oppda_coef':np.mean,'win_ratio':np.mean})
find_best.reset_index(inplace=True)

In [134]:
find_best['goals/game_rank'] = find_best['goals/game'].rank(method='dense', ascending=False)
find_best['against/game_rank'] = find_best['against/game'].rank(method='dense', ascending=True)
find_best['deep_rank'] = find_best['deep'].rank(method='dense', ascending=False)
find_best['deep_allowed_rank'] = find_best['deep_allowed'].rank(method='dense', ascending=True)
find_best['ppda_rank'] = find_best['ppda_coef'].rank(method='dense', ascending=True)
find_best['ppda_coef_rank'] = find_best['oppda_coef'].rank(method='dense', ascending=False)
find_best['win_ratio_rank'] = find_best['win_ratio'].rank(method='dense', ascending=False)
find_best['overall_rank'] = (find_best['goals/game_rank']+find_best['against/game_rank']+find_best['deep_rank']
                            +find_best['deep_allowed_rank']+find_best['ppda_rank']+find_best['ppda_coef_rank']+find_best['win_ratio_rank'])/7

In [143]:
find_best.nsmallest(5,'overall_rank')

,team,goals/game,against/game,deep,deep_allowed,ppda_coef,oppda_coef,win_ratio,goals/game_rank,against/game_rank,deep_rank,deep_allowed_rank,ppda_rank,ppda_coef_rank,win_ratio_rank,overall_rank
3,Bayern Munich,2.593137,0.730392,398.500000,107.333333,7.330245,23.839114,0.759804,3.0,4.0,6.0,2.0,2.0,2.0,2.0,3.000000
12,Manchester City,2.539474,0.809211,561.250000,127.500000,8.132747,24.982717,0.750000,5.0,7.0,1.0,5.0,7.0,1.0,3.0,4.142857
17,Paris Saint Germain,2.572612,0.788499,375.333333,113.666667,7.554699,19.162201,0.745452,4.0,6.0,7.0,3.0,4.0,5.0,4.0,4.714286
2,Barcelona,2.688596,0.833333,499.333333,154.333333,7.463359,15.907992,0.728070,1.0,8.0,2.0,10.0,3.0,8.0,7.0,5.571429
10,Liverpool,2.289474,0.723684,430.000000,148.500000,9.783738,23.449794,0.815789,8.0,3.0,4.0,9.0,17.0,3.0,1.0,6.428571

- The most dominant team of this dataset is **Bayern Munich!** 
- Based on the actual attacking and defensive variable given, although they did not rank 1st in any of them, they managed to rank consistently high for every variable given. 
- This means they have a very balanced approach, exceling in both attacking and defensive capabilities, which was their recipe for success when it comes to winning titles.

# Model to predict the outcome of a match

For modelling we will use the dataset understat_per_game. My target variable to predict will be **result** which has the values w,d,l

In [158]:
pd.set_option('max_rows', None)
understat_per_game.head(5)

,league,year,h_a,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,result,date,wins,draws,loses,pts,npxGD,ppda_coef,ppda_att,ppda_def,oppda_coef,oppda_att,oppda_def,team,xG_diff,xGA_diff,xpts_diff
0,Bundesliga,2014,h,2.57012,1.198420,2.57012,1.198420,5,4,2,1,2.3486,w,2014-08-22 19:30:00,1,0,0,3,1.371700,9.625000,231,24,21.850000,437,20,Bayern Munich,0.57012,0.198420,-0.6514
1,Bundesliga,2014,a,1.50328,1.307950,1.50328,1.307950,10,1,1,1,1.5143,d,2014-08-30 17:30:00,0,1,0,1,0.195330,4.756098,195,41,17.695652,407,23,Bayern Munich,0.50328,0.307950,0.5143
2,Bundesliga,2014,h,1.22987,0.310166,1.22987,0.310166,13,3,2,0,2.1588,w,2014-09-13 14:30:00,1,0,0,3,0.919704,5.060606,167,33,16.961538,441,26,Bayern Munich,-0.77013,0.310166,-0.8412
3,Bundesliga,2014,a,1.03519,0.203118,1.03519,0.203118,6,2,0,0,2.1367,d,2014-09-20 14:30:00,0,1,0,1,0.832072,4.423077,115,26,9.446809,444,47,Bayern Munich,1.03519,0.203118,1.1367
4,Bundesliga,2014,h,3.48286,0.402844,3.48286,0.402844,23,2,4,0,2.9287,w,2014-09-23 19:00:00,1,0,0,3,3.080016,4.250000,170,40,44.800000,448,10,Bayern Munich,-0.51714,0.402844,-0.0713

In [159]:
#variables(columns) I will use in the classification model as my X:
#league, year, team, h_a, xG, xGA, deep, deep_allowed, xpts, ppda_coef, oppda_coef
#y would be result
#First we do the X-y split

X = understat_per_game[['league','year','team','h_a', 'xG', 'xGA', 'deep', 'deep_allowed', 'xpts', 'ppda_coef', 'oppda_coef']]
y = understat_per_game[['result']]

In [162]:
display(X.head())
display(X.shape)
display(y.head())
display(y.shape)

,league,year,team,h_a,xG,xGA,deep,deep_allowed,xpts,ppda_coef,oppda_coef
0,Bundesliga,2014,Bayern Munich,h,2.57012,1.198420,5,4,2.3486,9.625000,21.850000
1,Bundesliga,2014,Bayern Munich,a,1.50328,1.307950,10,1,1.5143,4.756098,17.695652
2,Bundesliga,2014,Bayern Munich,h,1.22987,0.310166,13,3,2.1588,5.060606,16.961538
3,Bundesliga,2014,Bayern Munich,a,1.03519,0.203118,6,2,2.1367,4.423077,9.446809
4,Bundesliga,2014,Bayern Munich,h,3.48286,0.402844,23,2,2.9287,4.250000,44.800000

(21700, 11)

  result
0      w
1      d
2      w
3      d
4      w

(21700, 1)

In [163]:
understat_per_game['league'].value_counts()

EPL           4560
La_liga       4560
Serie_A       4550
Ligue_1       4358
Bundesliga    3672
Name: league, dtype: int64

joblib
pickle.dump(“transfomers/standard_scaler.pkl”)
pickle.dump(“models/lrm_model_bundesliga.pkl”)
lrm = pickle.load(“models/lrm_model_bundesliga.pkl”)
pickle.dump(“../models/lrm_model_bundesliga.pkl”)
functions.py
Import functions
Main.py
pd.to_csv(X_train)
README.md
Tableau/
Tablear.tbw
Git add transformers/
Canary model
Data/
Transformers/
Models/
Scr/
pickle